<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>476865962002-bu0nbbt99l7tb05o28v40hmmq1hh3cdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476865962002-bu0nbbt99l7tb05o28v40hmmq1hh3cdd</string>
	<key>API_KEY</key>
	<string>AIzaSyDf5XnX7xhyEvluDLjPB1IvxZOwAA9C3TU</string>
	<key>GCM_SENDER_ID</key>
	<string>476865962002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilsonding.CleverCalorie</string>
	<key>PROJECT_ID</key>
	<string>clevercalorie</string>
	<key>STORAGE_BUCKET</key>
	<string>clevercalorie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:476865962002:ios:68852e9145e61855</string>
	<key>DATABASE_URL</key>
	<string>https://clevercalorie.firebaseio.com</string>
</dict>
</plist>